body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h6 {
  margin: 0;
  padding: 0;
}

.weather-information {
  background: #9b89c3;
  border-radius: 20px;
  max-width: 100%;
  margin: 10px;
  padding: 7px;
}

.additional-weather-information div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.float-left div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  height: 35px;
  width: 40px;
}

a {
  color: #5d25d5;
  text-align: center;
}

a:hover {
  color: rgb(188, 116, 116);
}
